APP_NAME=Cardok

PROVIDER_REST_URL=http://provider-rest:8000
PROVIDER_SOAP_URL=http://provider-soap:8000
PAYMENT_PROVIDER_URL=http://payment-provider:8000

PROVIDER_ORDER=rest,soap
PROVIDER_TIMEOUT=2
PROVIDER_RETRIES=2
PROVIDER_BACKOFF_MS=100
PROVIDER_MODE=success
